spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/Hungry
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password:
  jpa:
    open-in-view: true
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: create

cloud:
  aws:
    credentials:
      accessKey: AKIA6OUQLHV73FQCGF3U
      secretKey: 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
    s3:
      bucket: hungry-bucket
    region:
      static: ap-northeast-2
    stack:
      auto: false

logging:
  level:
    com:
      amazonaws:
        util:
          EC2MetadataUtils=ERROR: debug